  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #92B4EC;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-card {
    width: calc(33.33% - 20px);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s, background-color 0.3s;
    font-family: "Poppins", sans-serif;
}

.blog-card:hover {
    transform: scale(1.1);
    background-color: #f0f0f0;
}

.blog-card h2 {
    margin-top: 0;
}

.blog-card p {
    margin: 5px 0;
}

.blog-card .tag {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
   
}

.blog-card:hover {
    transform: scale(1.08);
    background-color: #FFD24C;
   
}
#blog{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
     background-color:#FFD24C;
     color: #FFFFFF;
}