body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #005A9C;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    color: #FFD700;
    font-weight: bold;
}

.country-selector select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #DDD;
    border-radius: 5px;
    background-color: #fff;
}

.create-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    background-color: #4CAF50;
    color: #fff;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #B3E5FC;
}

.image-gallery {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
}

.image-gallery img {
    max-height: 200px;
    margin-right: 10px;
    border-radius: 10px;
}

.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.scroll-container img {
    padding: 10px;
}

.view-all {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    white-space: nowrap;
}

.card {
    background-color: #fff;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    min-width: 250px; /* Adjust the minimum width of the card */
}


.card h3 {
    margin-top: 0;
    color: #005A9C; /* Theme color for headings */
}

.card p {
    margin: 5px 0; /* Compact paragraph spacing */
    color: #333; /* Darker text for contrast */
}
